/* General */
body {
    font-family: 'Roboto', sans-serif; /* Regular por defecto */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-weight: 400; /* Regular */
}

header h1 {
    margin: 0;
    font-weight: 700; /* Bold */
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400; /* Regular */
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

section h2 {
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 700; /* Bold */
}

section p, section ul {
    margin: 10px 0;
    font-weight: 400; /* Regular */
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: 700; /* Bold */
}

form input, form textarea, form button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 400; /* Regular */
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-weight: 400; /* Regular */
}

/* Contenedor del botón de LinkedIn */
.linkedin-container {
    margin-top: 30px; /* Más espacio encima del botón */
    text-align: center; /* Centra el botón horizontalmente */
}

/* Botón de LinkedIn */
.btn-linkedin {
    display: inline-block; /* El botón será como un bloque alineado */
    background-color: #0077b5; /* Color azul de LinkedIn */
    color: #fff; /* Texto blanco */
    text-decoration: none; /* Elimina el subrayado */
    padding: 12px 20px; /* Espaciado interno más grande */
    border-radius: 8px; /* Bordes más redondeados */
    font-weight: 700; /* Texto más grueso */
    font-size: 16px; /* Tamaño de fuente más grande */
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Efecto hover */
.btn-linkedin:hover {
    background-color: #005582; /* Azul más oscuro cuando se pasa el cursor */
}



/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    section {
        padding: 10px;
    }

    form input, form textarea, form button {
        font-size: 0.9rem;
    }
}
